@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea, select, button {
      outline: none;
    }
    input:focus, textarea:focus, select:focus, button:focus {
      outline: none;
  }
}